# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
src-tauri/target
src-tauri/target-tests
release/staging
release/*.zip
release/*.exe
release/*.msi
tmp/
src-tauri/icons/android/
src-tauri/icons/ios/
dist-ssr
.env
.env.*
!.env.example
*.local
*.pdb
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
